.container {
  width: 100%;
  max-width: 1184px;
  min-width: 280px;
  padding: 0 20px;
  margin: 0px auto;
}

.hero-colored-container {
  max-width: 518px;
}

/* --signup login logout modals-- */
.auth-container {
  max-width: 438px;
  padding: 0;
  color: var(--primary-dark);
}
.auth-container button {
  color: var(--primary-white);
}

@media screen and (max-width: 960px) {
  .hero-colored-container {
    margin: 0;
    margin-right: 64px;
  }

  .header-container {
    /* position: relative; */
  }
}

@media screen and (min-width: 1360px) {
  .hero-colored-container {
    margin-right: 64px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-colored-container {
    padding: 0;
  }
}
