.wrapper {
  position: relative;
  display: flex;
  align-items: start;
  gap: 24px;
  padding: 24px;
  min-width: 280px;
  max-width: 1184px;
  max-height: max-content;
  border-radius: 24px;
  background: var(--primary-white);
  color: var(--primary-dark);
}

.avatarWrapper {
  min-width: 80px;
  max-width: 120px;
  border-radius: 30px;
  border: 2px solid var(--secondary-light-green);
  padding: 12px;
}

.avatarWrapper img {
  max-width: 100%;
  border-radius: 15px;
}

.avatarUserStatusBox {
  position: relative;
  width: 100%;
}

.avatarUserStatusBox {
  background-color: lightgray;
  border-radius: 15px;
}

.statusBox {
  position: absolute;
  top: -4px;
  right: 0;
  width: 14px;
  height: 14px;
  border: 2px solid var(--background-light-gray);
  border-radius: 50%;
  background-color: var(--primary-white);
}

.statusBox:after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--secondary-bright-green);
}

.detailsWrapper {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 24px 0 32px 0;
}

.detailBox {
  padding: 8px 16px;
  border-radius: 24px;
  background: var(--background-light-gray);
  max-width: max-content;
  font-size: 16px;
  line-height: 1.5;
}

.nameTitle {
  margin-top: 8px;
}

.accent {
  color: var(--secondary-gray);
}

.accentBorderText {
  position: relative;
}

.accentBorderText::after {
  position: absolute;
  content: '';
  width: 18px;
  height: 1px;
  background-color: currentColor;
  bottom: 2px;
  right: 0;
}

.aboutText {
  color: rgba(17, 16, 28, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

.infoWrapper > .accent {
  margin-bottom: 8px;
}

.mainInfoWrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  max-width: calc(100% - 26px - 48px);
}

.iconsTextFavWrapper {
  display: flex;
  gap: 48px;
}

.iconsTextBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.iconTextWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.priceAccent {
  color: var(--secondary-bright-green);
}

.iconTextWrapper {
  position: relative;
}

.iconTextWrapper::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 16px;
  transform: rotate(90deg, 90deg);
  top: 1;
  right: -16px;
  background-color: rgba(17, 16, 28, 0.2);
}

.nameTitle.hiddenToTabl {
  display: none;
}

.readMoreText {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-top: 14px;
  transition: var(--transition);
}

.readMoreText::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 1px;
  background-color: currentColor;
}

.readMoreText:is(:hover, :focus) {
  color: var(--primary-blue);
}

.favBtn {
  position: absolute;
  right: 24px;
  cursor: pointer;
  width: 26px;
  height: 26px;
  transition: var(--transition);
  border: none;
  outline: none;
  background-color: transparent;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .nameTitle.hiddenToTabl {
    display: block;
    margin-bottom: 10px;
  }

  .wrapper {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }

  .wrapper {
    max-height: max-content;
  }

  .namePositionedWrapper {
    margin-bottom: 10px;
  }

  .nameTitle {
    font-size: clamp(16px, 0.5vw + 1rem, 24px);
  }

  .detailsWrapper {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .mainInfoWrapper {
    display: block;
  }

  .nameTitle.hiddenToDeskt {
    display: none;
  }

  .iconsTextFavWrapper {
    margin-top: 10px;
    top: 18px;
    left: calc(280px - 15px - 120px);
    gap: 8px;
    justify-content: space-between;
    min-width: calc(280px - 48px - 120px);
  }

  .iconsTextBox {
    flex-wrap: wrap;
    justify-content: start;
    row-gap: 8px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .favBtn {
    position: absolute;
    right: 15px;
    top: 15px;
  }
}
