.nannies {
  padding-top: 178px;
  /* padding-bottom: 100px; */
  width: 100vw;
  /* height: 100vh; */
  /* height: 150vh; */
  min-height: 100vh;
  height: fit-content;

  /* height: max-content; */
  /* height: 100%; */
  background-color: var(--background-light-gray);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .nannies {
    padding-top: 100px;
  }
}
