.favoritesSection {
  /* padding: 100px 0;

  width: 100vw;
  min-height: 100vh;
  height: fit-content;

  background-color: var(--background-light-gray);
  display: flex;
  justify-content: center;
  align-items: center; */
}

.noFavsBox {
  width: 100%;
  min-height: 400px;
  max-height: 100vh;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noFavsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.noFavsText {
  font-size: clamp(30px, 1rem + 1vw, 50px);
  padding: 20px;
  line-height: 1.33;
  text-align: center;
}

.favoritesSection {
  padding-top: 178px;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  background-color: var(--background-light-gray);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .favoritesSection {
    padding-top: 100px;
  }
}
