:root {
  --toastify-color-success: #5cb85c;
  --toastify-icon-color-success: var(--toastify-color-success);

  --toastify-color-error: #ef5050;
  --toastify-icon-color-error: var(--toastify-color-error);

  /* перейменувати blue та видалити лишні кольори */

  --primary-blue: #103931;
  /* --primary-blue: #0957c3; */
  --primary-white: #fbfbfb;
  --primary-light-gray: rgba(251, 251, 251, 0.4);
  --primary-dark: #11101c;

  --secondary-bright-green: #38cd3e;
  --secondary-light-blue: rgba(9, 87, 195, 0.2);
  --secondary-transperent-gray: rgba(17, 16, 28, 0.3);
  --secondary-light-gray: rgba(17, 16, 28, 0.5);
  --secondary-gray: #8a8a89;
  --secondary-light-green: rgba(16, 57, 49, 0.2);

  --transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  --backdrop: rgba(11, 11, 11, 0.6);
  --background-light-gray: #f3f3f3;

  /* --hover: rgba(16, 57, 49, 0.2); */
}
