.sidebar {
  /* display: none; */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 0;
  width: 50vw;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 30px;
  gap: 25px;
}

.notHomePageBg,
.bg {
  position: fixed;
  z-index: 999;
  margin-top: 60px;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.921);
  /* background: rgba(255, 255, 255, 0.931); */
}

.navLink {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--primary-dark);
  width: max-content;
  padding: 5px 0;
}

.navLink svg {
  margin-right: 10px;
}

.active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 30px;
  background-color: var(--primary-blue);
  width: calc(100% - 30px);
  height: 2px;
  border-radius: 2px;
}

@media screen and (max-width: 960px) {
  .sidebar {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .bg {
    margin-top: 92px;
  }
}

@media screen and (max-width: 767px) {
  .sidebar {
    width: 100vw;
  }
  .bg,
  .notHomePageBg {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .sidebar {
    width: 100vw;
  }
}

@media screen and (min-width: 960px) {
  .sidebar {
    display: none;
  }
}
